@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
}
